/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body{
    padding:0;
    margin:0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 1vw
}

.hero{
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: 700px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero > h1{
    color: #FFF;
    font-size:70px;
}

.hero > p{
    color: #FFF;
    font-size: 24px;
    width: 52vw;
    text-align: center;
}


.whats-on-spotify > h2 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #00B172;
    text-decoration-thickness: 3px;
    line-height: 1.6
}

.whats-on-spotify > h2:after{
    position: absolute;
    bottom: -3px;
}

.three-images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.three-images > div {
    width: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.three-images h3{
    color:#00B172;
    margin:0
}

.three-images p{
    text-align: center;
}

.yeezus{
    background-color: #00B172;
    margin: 1vw;
    padding: 6vh 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white
}

.yeezus > div {
    width: 30vw
}

.yeezus p {
    width: 27vw;
}

.yeezus  h2 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 3px;
    line-height: 1.6
}

@media(max-width: 425px){
    .three-images{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .yeezus{
        background-color: #00B172;
        margin: 1vw;
        padding: 6vh 3vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        color: white
    }
}